body {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f3dfaf;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #ff4040;
}

h2 {
    text-align: center;
    color: #ff6b6b;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ff6b6b ;
    color: #f3dfaf;
}

nav a:hover, .active-page {
    background-color: #ff4040;
    color: #ffffff;
}

nav a:focus {
    outline: 2px solid #ffa500;
}

.active-page {
    font-weight: bold;
    text-decoration: underline
}

/* img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

.image-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.image-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns per row for medium screens */
    }
}

@media (min-width: 1200px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr); /* Three columns per row for large screens */
    }
}

@media (max-width: 768px) {
    nav ul {
        grid-template-columns: 1fr;
    }
}
