body {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f3dfaf;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #003153;
}

h2 {
    text-align: center;
    color: #06558d;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #06558d;
    color: #ffffff;
}

nav a:hover, .active-page {
    background-color: #003153;
    color: #ffffff;
}

nav a:focus {
    outline: 2px solid #1098f8;
}

.active-page {
    font-weight: bold;
    text-decoration: underline
}

.image-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns per row for medium screens */
    }
}

@media (min-width: 1200px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr); /* Three columns per row for large screens */
    }
}

@media (max-width: 768px) {
    nav ul {
        grid-template-columns: 1fr;
    }
}

.skip-link {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: auto;
    background-color: #06558d;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    z-index: 100;
}